{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    交大优铺|首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
	<script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
    <<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-4">
			<div class="hero-unit well">
				<h2>
					吃的!
				</h2>
				<p>
					好吃的东西.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="{% url 'shop_with_type' 1 %}">更多 »</a>
				</p>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="hero-unit well">
				<h2>
					喝的!
				</h2>
				<p>
					好喝的东西.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="{% url 'shop_with_type' 2 %}">更多 »</a>
				</p>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="hero-unit well">
				<h2>
					玩的!
				</h2>
				<p>
					好玩的东西.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="{% url 'shop_with_type' 3 %}">更多 »</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="col-xs-4">
			<div class="hero-unit well">
				<h2>
					学习!
				</h2>
				<p>
					学在交大.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="{% url 'shop_with_type' 4 %}">更多 »</a>
				</p>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="hero-unit well">
				<h2>
					生活!
				</h2>
				<p>
					便捷生活.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="{% url 'shop_with_type' 5 %}">更多 »</a>
				</p>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="hero-unit well">
				<h2>
					打扮!
				</h2>
				<p>
					打扮自己.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="{% url 'shop_with_type' 6 %}">更多 »</a>
				</p>
			</div>
		</div>
	</div>
    </div>
	<!-- 图表容器 DOM -->
    <div id="container" style="width: 600px;height:400px;"></div>
	<!-- 今天热门店铺 -->
	<h3>今天热门店铺</h3>
	<ul>
		{% for hot_data in today_hot_data %}
			<li><a href="{% url 'shop_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.name }}</a>({{ hot_data.read_num }})</li>
		{% empty %}
			<li>今天暂时没有热门店铺</li>
		{% endfor %}
	</ul>
	<!-- 昨天热门店铺 -->
	<h3>昨天热门店铺</h3>
	<ul>
		{% for hot_data in yesterday_hot_data %}
			<li><a href="{% url 'shop_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.name }}</a>({{ hot_data.read_num }})</li>
		{% empty %}
			<li>昨天暂时没有热门店铺</li>
		{% endfor %}
	</ul>
	<h3>最近七天热门店铺</h3>
	<ul>
		{% for hot_shop in seven_days_hot_shops %}
			<li><a href="{% url 'shop_detail' hot_shop.id %}">{{ hot_shop.name }}</a>({{ hot_shop.read_num_sum }})</li>
		{% empty %}
			<li>最近七天暂时没有热门店铺</li>
		{% endfor %}
	</ul>
	<script>
        // 图表配置
        var options = {
            chart: {type: 'line'},
            title: {text: null},
            xAxis: {
                categories: {{ dates|safe }},
				tickmarkPlacement: 'on',
            },
            yAxis: {
                title: { text: null },
                labels: { enabled: false },
				gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '访问量',                        // 数据列名
                data: {{ read_nums }}                     // 数据
            }],
			plotOptions: {
				line: {
					dataLabels: {
						enabled: true
					}
				}
			},
            legend: { enabled: false },
			credits: { enabled: false },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock %}

